<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>
<body>
    <h1>Lili's Favorite Recipes</h1>
    <p>My favorite food is Caldo de Res, or Mexican beef soup, which is a healthy and budget-friendly soup made with a flavorful beef broth and squash, corn, carrots, cabbage and potatoes. I love Mexican food the most, so this website will feature some common Mexican meals. <br/><br/>
        I only recently started to actually cook since this school year I live in City Vista, so I have a kitchen to make my own meals. I usually cook dinner with my other roommates who are more experienced in cooking and I ask them lots of questions so I do not mess up.
    </p>
    <h2>
        <a href="/">Home</a><br/>
        <a href="/recipes/"style="text-decoration: none">Recipe List</a> <br/>
        <a href="/recipes/addrecipe"style="text-decoration: none">Add Recipe</a> 
    </h2>
</body>
</html>

